.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: calc(100% - 40px);
}

.messageContainer {
  display: grid;
  grid-template-columns: 1fr 150px;
  grid-column-gap: 10px;
  align-items: self-end;

  & button {
    margin-bottom: 4px;
  }
}
