@import '../../styles/mixins';

.container {
  width: 100%;
  height: 100%;
  @include flex(column, center, center)
}

.title {
  padding: 20px;
}

.link {
  font-size: 18px;
  color: var(--main-color);
  padding: 10px 0;
}
