@import '../../styles/colors';

.button {
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  padding: 0 16px;
  font-weight: normal;
  cursor: pointer;

  &__main {
    height: 35px;
    border-radius: 4px;
    font-weight: bold;
    color: $card-bg;
    background-color: $main-color;

    &:hover {
      background-color: $main-color-hover;
    }
  }

  &__secondary {
    color: $main-color;

    &:hover {
      color: $main-color-hover;
    }
  }
  
  &__transparent {
    height: 35px;
    font-weight: bold;
    color: $card-bg;
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }
}
