@import '../../styles/colors';

.button__secondary {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: $main-color;
  margin: 10px 0;

  &:hover {
    color: $main-color-hover;
  }
}
