.card {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
}

.content {
  color: var(--secondary-text);
  font-size: 14px;
}
