$main-text: #32324D;
$primary-color: #4945FF;
$secondary-text: #A5A5BA;
$input-text: #8E8EA9;
$header-table: #666687;

$main-color: #0b9bd7;
$main-color-hover: #0ba6d7;
$main-error: #D02B20;

$border-input: #DCDCE4;
$border-container: #EAEAEF;

$card-bg: #FFF;

$body-bg: #F6F6F9;

$box-shadow: 0 1px 4px rgba(33, 33, 52, 0.1);

