@import 'colors';
@import 'mixins';
@import 'null';
@import 'fonts';

$fontFamily: 'SF-Pro', sans-serif;

body {
  font-family: $fontFamily;
  width: 100%;
  height: 100%;
  background-color: $body-bg;
};
