@import '../../styles/mixins';
@import '../../styles/colors';

.container__registration {
  width: 550px;
  min-height: 400px;
  margin: 20px auto;
  padding: 20px 55px;
  border: 0.5px solid #EAEAEF;
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(33, 33, 52, 0.1);
  border-radius: 4px;
}

.registration__header {
  @include flex(column, space-around, center);
}

.registration__title {
  color: $main-text;
  margin: 5px 0 50px 0;
}

.form__username {
  @include flex(row, space-between, normal);
}
