@import "../../styles/colors";

.container {
  width: 100%;
  max-width: 1080px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-bottom: 20px;
  color: $main-text;
  font-weight: 700;
  font-size: 32px;
}
