@import '../../styles/colors';

.yaButton {
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  padding: 0 16px;
  font-weight: normal;
  cursor: pointer;
  height: 35px;
  border-radius: 4px;
  background-color: $ya-color;

  &:hover {
    background-color: $main-error;
  }
}
