@import "../../styles/colors";
@import "../../styles/mixins";

.table {
    width: 100%;
    height: 100%;
    background-color: $card-bg;
    box-shadow: $box-shadow;
    border-radius: 4px;
    padding: 30px;
    text-align: left;
    font-size: 18px;
    color: $main-text;
  }
  
  .header {
    display: grid;
    grid-template-columns: 100px 1fr 150px 110px;
    grid-column-gap: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    color: $header-table;
  
    & div:first-child {
      text-align: center;
    }
  }
