@import 'src/styles/colors';
@import 'src/styles/mixins';

.container {
  @include flex(column, initial, normal);
  position: relative;
  margin: 10px 0;
  padding: 10px 15px;
  width: 100%;
  background-color: $body-bg;
  border-radius: 10px;
  word-wrap: break-word;
}

.login {
  font-size: 14px;
  color: $main-text;
}

.text {
  margin: 10px 0;
}

.data {
  font-size: 12px;
  color: $input-text;
  align-self: self-end;
}


